/* text highlighting */
.single_comment,
.few_comments,
.some_comments,
.many_comments,
.excessive_comments,
.hot_topic {
    visibility: visible;
}
.single_comment {
    background-color: #ff9;
}
.few_comments {
    background-color: #ff4;
}
.some_comments {
    background-color: #fe3;
}
.many_comments {
    background-color: #fd3;
}
.excessive_comments {
    background-color: #f90;
}
.hot_topic {
    background-color: #f00;
}
.selected.single_comment {
    background-color: #ddf;
}
.selected.few_comments {
    background-color: #ccf;
}
.selected.some_comments {
    background-color: #bbf;
}
.selected.many_comments {
    background-color: #99f;
}
.selected.excessive_comments {
    background-color: #00f;
}
.selected.hot_topic {
    background-color: #f00;
}
/* Text content */
#content {
    position: relative;
    z-index: 0;
}
#text_content {
    position : relative;
    z-index: 100;
    background: none;
}
.clone {
    position: absolute;
    top: 0;
    z-index: 50;
    visibility: hidden;
}
/* comment display */
div#comments {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background-color: #eee;
}
div#comments .template {
    display: none;
}
div#comments .header {
    background-color: #ccc;
    border-top: 1px solid #777;
    padding: 5px;
    font-size: 1.1em;
    font-weight: bold;
}
div#comments .container {
    position: relative;
    width: 100%;
}
div#comments .discussions,
div#comments .comments {
    position: absolute;
    bottom: 0;
    top: 0;
    overflow-y: scroll;
}
div#comments .container,
div#comments .discussions,
div#comments .comments {
    height: 200px;
}
div#comments .discussions {
    width: 50%;
    left: 0;
    border-right: 1px solid #777;
}
div#comments .discussions .add_comment {
    
    display: none;
}
div#comments .discussion.selected {
    background-color: #3879D9 !important;
    color: #fff !important;
}
div#comments .discussion.selected .subject {
    background-color: #1553AF;
    color: #fff !important;
}
div#comments .discussions .subject {
    background-color: #ddd;
    border-top: 1px solid #999;
    padding-left: 10px;
}
div#comments .discussions .content {
    padding-left: 10px;
    font-size: 0.9em;
}
div#comments .comments {
    width: 50%;
    left: 50%
}
div#comments .comment {
    margin: 5px;
    padding: 5px;
    background-color: #f5f57b;
}
div#comments .comment .author {
    background-color: #f5f462;
    font-weight: bold;
}



div#comment_form {
    position: fixed;
    bottom: 0;
    height: 150px;
    background-color: #ccc;
    z-index: 1000;
    display: none;
}
/* comment stuff */
div#comments ol {
    position: fixed;
    top: -82px;
    left: 750px;
    width: 200px;
}

div#comments ol li {
    margin-bottom: 20px;
}
